@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

@font-face {
  font-family: Yekan;
  src: url("/assets/fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Yekan.woff2") format("woff2"),
    url("/assets/fonts/Yekan.woff") format("woff"),
    url("/assets/fonts/Yekan.ttf") format("truetype"),
    url("/assets/fonts/Yekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: IranSans;
  src: url("/assets/fonts/sans.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/sans.woff") format("woff"),
    url("/assets/fonts/sans.ttf") format("truetype"),
    url("/assets/fonts/sans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Yeseva;
  src: url("/assets/font/YesevaOne.ttf") format('ttf')
}

html,
body,
.root {
  font-family: IranSans, sans-serif;
}
